.App {
  cursor: default;
  font-family: "Comic Sans MS", monospace, sans-serif, serif;
  overflow: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #324d5d;
}

a:hover {
  color: unset;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7e7c7c;
  border-radius: 0;
}