.mainPageBackground {
    background-image: url("mainPageBackgroundImage.png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainRedberryLogo {
    position: relative;
    top: 10px;
    width: 236px;
    height: 38px;
}

.mainRedberryLogoUnderline {
    height: 1px;
    background: #1A1A1A;
    margin: 30px 0;
}

.companyRing {
    position: relative;
    left: 55%;
    top: 150px;
    mix-blend-mode: multiply;
}

.centerResume {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    align-items: center;
}

.resumeAddSpace {
    background: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 464px;
    height: 60px;
    border-radius: 10px;
    font-family: 'Helvetica Neue', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
}

.resumeAddSpace:hover {
    transition: .3s;
    background: #324d5d;
    color: whitesmoke;
    cursor: pointer;
    letter-spacing: 1px;
}

.resumeAdd {
    color: whitesmoke;

}